.calculator {
    width: 400px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 100px auto;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
}

#display {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 15px;
    text-align: right;
    background-color: white;
    font-size: 30px;
}

button {
    border-radius: 10px;
    padding: 20px;
    width: 25%;
    font-size: 30px;
    font-weight: bold;
}

.col {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin: 5px 0;
}

.clear {
    flex: 1;
}

.number {
    background-color: white;
}

.number:hover {
    background-color: rgb(223, 223, 223)
}

.operator {
    background-color: #eaca49;
}

.operator:hover {
    background-color: #ffcc00;
}

.equal {
    background-color: #db7269;
    flex: 1;
}

.equal:hover {
    background-color: #da3729
}